In [1]:
#importing the libraries
%matplotlib inline
import pandas as pd
import scipy 
import numpy as np
from scipy import stats
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn import datasets

## Q1- F&B Manager and Size of Cutlets

Problem - An F&B manager wants to determine whether there is any significant difference in the diameter of the cutlet between two units. A randomly selected sample of cutlets was collected from both units and measured? Analyze the data and draw inferences at 5% significance level. Please state the assumptions and tests that you carried out to check validity of the assumptions?

In [2]:
#Read and Describe the Dataset

Cutlets = pd.read_csv('D:/1.0 Studies/DataScience_Excelr/Assignment5 - HypoTest/Cutlets.csv')
Cutlets.describe()

          Unit A     Unit B
count  35.000000  35.000000
mean    7.019091   6.964297
std     0.288408   0.343401
min     6.437600   6.038000
25%     6.831500   6.753600
50%     6.943800   6.939900
75%     7.280550   7.195000
max     7.516900   7.545900

In [3]:
Cutlets.shape

(35, 2)

Null Hypothesis - H0 : There is no significant difference between mean diameters of the samples.

Alternative Hypothesis - H1 : There is significant difference between mean diameters of the sample.

Alpha=0.05

In [4]:
#Calculation of t statistics at significance level of 5%
# t= x-mean/(std)
TstatPvalue = scipy.stats.ttest_ind(Cutlets['Unit A'],Cutlets['Unit B'])
TstatPvalue

Ttest_indResult(statistic=0.7228688704678061, pvalue=0.4722394724599501)

In [5]:
if TstatPvalue[1] <0.05:
  print('Reject null hypothesis')
else:
  print('Accept null hypothesis - There is no significant differene between mean diameters of the samples')

Accept null hypothesis - There is no significant differene between mean diameters of the samples

## Q2- Hospital TAT

A hospital wants to determine whether there is any difference in the average Turn Around Time (TAT) of reports of the laboratories on their preferred list. They collected a random sample and recorded TAT for reports of 4 laboratories. TAT is defined as sample collected to report dispatch. Analyze the data and determine whether there is any difference in average TAT among the different laboratories at 5% significance level.

In [6]:
LabTAT = pd.read_csv('D:/1.0 Studies/DataScience_Excelr/Assignment5 - HypoTest/LabTAT.csv')

In [7]:
LabTAT.describe()

       Laboratory 1  Laboratory 2  Laboratory 3  Laboratory 4
count    120.000000    120.000000    120.000000     120.00000
mean     178.361583    178.902917    199.913250     163.68275
std       13.173594     14.957114     16.539033      15.08508
min      138.300000    140.550000    159.690000     124.06000
25%      170.335000    168.025000    188.232500     154.05000
50%      178.530000    178.870000    199.805000     164.42500
75%      186.535000    189.112500    211.332500     172.88250
max      216.390000    217.860000    238.700000     205.18000

In [8]:
LabTAT.shape

(120, 4)

Null Hypothesis - H0 : There is no difference between mean TAT of  4 labs, i.e μ1=μ2=μ3=μ4=mean of means.

Alternative Hypothesis - H1 : There is difference between the mean TAT of 4 labs = μ1≠μ2≠μ3≠μ4.

Alpha=0.05

In [9]:
alpha = 0.05
Lab1 = LabTAT['Laboratory 1']
Lab2 = LabTAT['Laboratory 2']
Lab3 = LabTAT['Laboratory 3']
Lab4 = LabTAT['Laboratory 4']

In [10]:
#Oneway Anova

tStatisticspValue = scipy.stats.f_oneway(Lab1,Lab2,Lab3,Lab4)
tStatisticspValue

F_onewayResult(statistic=118.70421654401437, pvalue=2.1156708949992414e-57)

In [11]:
if tStatisticspValue[1] < 0.05:
    print ('Reject H0')
else:
    print ('Accept H0')

Reject H0

That means there is a difference between the average TAT from all 4 labs.

## Q3 - East, West, North, South Product Sales

Sales of products in four different regions is tabulated for males and females. Find if male-female buyer ratios are similar across regions.

In [12]:
BuyerRatio = pd.read_csv('D:/1.0 Studies/DataScience_Excelr/Assignment5 - HypoTest/BuyerRatio.csv')

In [13]:
BuyerRatio.describe()

             East         West        North       South
count    2.000000     2.000000     2.000000    2.000000
mean   242.500000   832.500000   743.500000  410.000000
std    272.236111   976.514465   866.205807  480.832611
min     50.000000   142.000000   131.000000   70.000000
25%    146.250000   487.250000   437.250000  240.000000
50%    242.500000   832.500000   743.500000  410.000000
75%    338.750000  1177.750000  1049.750000  580.000000
max    435.000000  1523.000000  1356.000000  750.000000


Null and Alternative Hypothesis

There are no significant differences between the regional mean values. H0:μ1=μ2=μ3=μ4=μ5 (μ5 = Grand Mean)

There is a significant difference between the regional mean values. H1:μ1≠μ2≠μ3≠μ4

In [14]:
alpha = 0.5
MaleSales = [50,142,120,70]
FemaleSales = [550,351,480,350]
TotalSales = [MaleSales,FemaleSales]

In [15]:
ChiStats = scipy.stats.chi2_contingency(TotalSales)
ChiSqr = ChiStats
ChiSqr

(78.82286489863762,
 5.489174937452272e-17,
 3,
 array([[108.47136772,  89.12730715, 108.47136772,  75.92995741],
        [491.52863228, 403.87269285, 491.52863228, 344.07004259]]))

In [16]:
DOF = ChiStats[2]
DOF

3

In [68]:
alpha = 0.05
criticalValue = scipy.stats.chi2.ppf((1 - alpha),DOF)
criticalValue

7.814727903251179

In [69]:
if ChiSqr[0] < criticalValue:
    print('Reject H0, variables are not related')
else:
    print('Accept H0, variables are related')

Accept H0, variables are related

Hence buyer ratios across region are similar.

## Q4 - TeleCalls

TeleCall uses 4 centers around the globe to process customer order forms. They audit a certain %  of the customer order forms. Any error in order form renders it defective and has to be reworked before processing.  The manager wants to check whether the defective %  varies by centre. Please analyze the data at 5% significance level and help the manager draw appropriate inferences.

In [34]:
#Read the data

TeleCalls = pd.read_csv('D:\\1.0 Studies\\DataScience_Excelr\\Assignment5 - HypoTest\\Costomer+OrderForm.csv')
TeleCalls.head()

  Phillippines   Indonesia       Malta       India
0   Error Free  Error Free   Defective  Error Free
1   Error Free  Error Free  Error Free   Defective
2   Error Free   Defective   Defective  Error Free
3   Error Free  Error Free  Error Free  Error Free
4   Error Free  Error Free   Defective  Error Free

In [62]:
Phil = TeleCalls['Phillippines'].value_counts()
Indo = TeleCalls['Indonesia'].value_counts()
Malta = TeleCalls['Malta'].value_counts()
India = TeleCalls['India'].value_counts()
print(Phil)
print(Indo)
print(Malta)
print(India)

Error Free    271
Defective      29
Name: Phillippines, dtype: int64
Error Free    267
Defective      33
Name: Indonesia, dtype: int64
Error Free    269
Defective      31
Name: Malta, dtype: int64
Error Free    280
Defective      20
Name: India, dtype: int64

In [64]:
ErrorFree = [271,267,269,280]
Defective = [29,33,31,20]
Customer = [ErrorFree,Defective]

Null and Alternative Hypothesis

H0 : The defective % does not vary across centers.

H1 : The defective % varies across the centres.

In [ ]:
#Significance Level
alpha = 0.05

In [66]:
chiStatistic = scipy.stats.chi2_contingency(Customer)
chiStatistic

(3.858960685820355,
 0.2771020991233135,
 3,
 array([[271.75, 271.75, 271.75, 271.75],
        [ 28.25,  28.25,  28.25,  28.25]]))

In [71]:
criticalValue = scipy.stats.chi2.ppf((1 - alpha),chiStatistic[2])
criticalValue

7.814727903251179

In [72]:
if ChiSqr[0] < critical_value:
    print('Reject H0, The defective % varies across centers.')
else:
    print('Accept H0, The defective % does not vary across centers.')

Accept H0, The defective % does not vary across centers.